.navbar-custom {
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.09), 0 1px 0 0 rgba(0, 0, 0, 0.07);
     -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.09), 0 1px 0 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.09), 0 1px 0 0 rgba(0, 0, 0, 0.07);
  background-color: #E1396C;
  border: 0; }
  .navbar-custom .navbar-brand {
    height: auto; }
  .navbar-custom .nav > li > a {
    padding: 10px 8px; }
  .navbar-custom .nav-itens {
    margin-top: 12px; }
  .navbar-custom .navbar-toggle {
    padding: 14px 0; }
    .navbar-custom .navbar-toggle .icon-bar {
      background-color: #fff; }
  .navbar-custom .nav-icons {
    margin-top: 8px; }
    .navbar-custom .nav-icons > li > a:hover, .navbar-custom .nav-icons > li > a:focus, .navbar-custom .nav-icons > li > a:active {
      background-color: transparent; }
    .navbar-custom .nav-icons > li > a > i {
      font-size: 24px; }
      .navbar-custom .nav-icons > li > a > i:hover {
        color: #f5becf; }
  .navbar-custom .nav > li {
    display: inline-block; }
  .navbar-custom a {
    color: #fff; }
  .navbar-custom #navbar > ul > li.active {
    border-bottom: 2px solid yellow; }
  .navbar-custom #navbar > ul > li > a:hover {
    background-color: #b21b49; }

.showcase {
  margin-top: 40px;
  background-position: 70% 100%;
  background-image: url(../../images/bg-search.jpg);
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  text-align: center;
  position: relative; }
  .showcase .search-bar-container {
    padding: 170px 0; }
    .showcase .search-bar-container .search-input {
      background-image: url("../../images/icons/search-pink.svg");
      background-repeat: no-repeat;
      background-position: 95% 50%;
      -webkit-border-radius: 40px;
         -moz-border-radius: 40px;
              border-radius: 40px;
      padding: 10px 20px;
      color: #E1396C;
      border: 0; }
      .showcase .search-bar-container .search-input:hover, .showcase .search-bar-container .search-input:focus, .showcase .search-bar-container .search-input:active {
        outline: none; }
      .showcase .search-bar-container .search-input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #E1396C; }
      .showcase .search-bar-container .search-input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #E1396C;
        opacity: 1; }
      .showcase .search-bar-container .search-input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #E1396C;
        opacity: 1; }
      .showcase .search-bar-container .search-input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #E1396C; }
      .showcase .search-bar-container .search-input::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #E1396C; }

.places .swiper-container {
  width: 100%;
  height: 100%;
  margin: 20px auto; }
  .places .swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
         justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
         align-items: center; }

.places .red-circle {
  opacity: 0.5;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #E1396C; }

.places #places-with-col .img-places {
  width: 80%; }

.places .top {
  top: 38%; }

.places .img-places-content {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2.5px;
  font-size: 40px; }

.places .img-places {
  max-width: 300px;
  width: 60%;
  margin: auto;
  opacity: 0.6; }

.places .images-container {
  margin: 50px 0 50px 0; }

#map {
  height: 400px;
  width: 100%; }

footer {
  padding: 60px; }
  footer ul > li {
    display: inline-block;
    font-size: 15px; }
    footer ul > li a {
      color: #333; }
    footer ul > li:not(:first-child) {
      margin-left: 20px; }

html, body {
  position: relative;
  height: 100%;
  font-family: 'Nexa Light', serif; }

@font-face {
  font-family: 'Nexa Light';
  src: url("../../fonts/nexa/Nexa Light.otf") format("opentype"); }

.all-caps {
  text-transform: uppercase; }

@media screen and (max-width: 767px) {
  footer {
    display: none; } }

@media screen and (min-width: 300px) {
  .showcase .search-bar-container .search-input {
    font-size: 20px;
    -moz-background-size: 30px;
      -o-background-size: 30px;
         background-size: 30px; }
  #places-with-col {
    display: none; }
  .places .red-circle {
    padding: 43px 17px; }
  .navbar-custom .nav > li.responsive {
    display: block;
    text-align: center; } }

@media screen and (min-width: 400px) {
  .places .red-circle {
    padding: 70px 40px; } }

@media screen and (min-width: 480px) {
  .showcase .search-bar-container .search-input {
    font-size: 25px;
    -moz-background-size: 40px;
      -o-background-size: 40px;
         background-size: 40px; }
  .places .red-circle {
    padding: 100px 70px; } }

@media screen and (min-width: 768px) {
  .showcase .search-bar-container .search-input {
    font-size: 30px;
    -moz-background-size: 40px;
      -o-background-size: 40px;
         background-size: 40px; }
  .menu-collapse {
    display: none !important; }
  .navbar-custom .nav > li.responsive {
    display: inline-block; } }

@media screen and (min-width: 992px) {
  #places-with-col {
    display: block; }
  #places-with-swiper {
    display: none; }
  .places .red-circle {
    padding: 80px 50px; } }

@media screen and (min-width: 1200px) {
  .places .top {
    top: 40%; }
  .places .red-circle {
    padding: 100px 70px; } }
