@font-face {
  font-family: 'Nexa Light';
  src: url("../../fonts/nexa/Nexa Light.otf") format("opentype"); }

.images-container {
  margin: 50px 0 50px 0; }

body {
  font-family: 'Nexa Light', serif; }

#find-me-btn {
  font-weight: 800;
  color: #fff;
  background-color: #E1396C;
  border: 0;
  border-radius: 30px;
  padding: 10px;
  font-size: 17px; }
  #find-me-btn:hover, #find-me-btn:focus, #find-me-btn:active {
    outline: none; }
  #find-me-btn:hover {
    background-color: #b21b49; }

.navbar-brand {
  height: auto; }

.nav-itens {
  margin-top: 12px; }

.navbar-toggle {
  padding: 14px 0; }
  .navbar-toggle .icon-bar {
    background-color: #fff; }

.nav-icons {
  margin-top: 8px; }
  .nav-icons > li > a:hover, .nav-icons > li > a:focus, .nav-icons > li > a:active {
    background-color: transparent; }
  .nav-icons > li > a > i {
    font-size: 24px; }
    .nav-icons > li > a > i:hover {
      color: #f5becf; }

#map {
  height: 400px;
  width: 100%; }

.nav > li {
  display: inline-block; }

.navbar-custom {
  background-color: #E1396C;
  border: 0; }
  .navbar-custom a {
    color: #fff; }
  .navbar-custom #navbar > ul > li.active {
    border-bottom: 2px solid yellow; }
  .navbar-custom #navbar > ul > li > a {
    text-transform: uppercase; }
    .navbar-custom #navbar > ul > li > a:hover {
      background-color: #b21b49; }

.showcase {
  margin-top: 40px;
  background-position: 70% 100%;
  background-image: url(../../images/bg-search.jpg);
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  text-align: center;
  position: relative; }
  .showcase .search-bar-container {
    padding: 170px 0; }
    .showcase .search-bar-container .search-input {
      background-image: url("../../images/icons/search-pink.svg");
      background-repeat: no-repeat;
      background-position: 95% 50%;
      background-size: 40px;
      border-radius: 40px;
      padding: 10px 20px;
      color: #E1396C;
      border: 0;
      font-size: 30px; }
      .showcase .search-bar-container .search-input:hover, .showcase .search-bar-container .search-input:focus, .showcase .search-bar-container .search-input:active {
        outline: none; }
      .showcase .search-bar-container .search-input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #E1396C; }
      .showcase .search-bar-container .search-input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #E1396C;
        opacity: 1; }
      .showcase .search-bar-container .search-input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #E1396C;
        opacity: 1; }
      .showcase .search-bar-container .search-input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #E1396C; }
      .showcase .search-bar-container .search-input::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #E1396C; }
