// GOOGLE MAP

.google-map {
  height: 100%;
  position: relative;

  > .map {
    width: 100%;
    height: 100%;
  }

  > .btnmap {
    font-family: $nexaBold;
    @include flex();
    position: absolute;
    text-transform: lowercase;
    right: 80px;
    top: 60px;
    border-radius: 30px;
    padding: 2px 25px 0;
    font-size: $size-6;
    color: $white;
    background-color: $primary;
  }

  > .btnmap:focus, .btnmap:active {
    background-color: darken($primary, 10%);
  }

  > .btnmap > .icon {
    margin-right: 15px;
    font-size: $size-3;
  }

}

/////////////////////////////////////// MEDIA QUERIES
@include largephone() {

  .google-map {

    > .btnmap {
      right: 50px;
      top: 60px;
      padding: 5px 15px;
    }

    > .btnmap > .icon {
      margin-right: 5px;
      font-size: $size-4;
    }

  }

}
