.header-logo {
  margin-left: 0px;

  .logo {
    width: 140px;
  }

}

// MEDIA QUERIES
@include mobile() {
  .header-logo {

    .logo {
      margin-top: 4px;
      width: 180px;
    }

    .logo .text {
      display: none;
      visibility: hidden;
    }

  }
}
