.header-menu {
  margin-left: 60px;
  margin-right: auto;

  > .list {
    @include flex();
  }

  > .list > .item:not(:last-child) {
    margin-right: 25px;
  }

  > .list > .item > .link {
    color: $white;
    font-size: $size-6;
    text-transform: uppercase;
    padding-bottom: 18px;
  }

  > .list > .item > .link:hover {
    border-bottom: 4px solid $third;
    transition: unset;
  }

  > .list > .item > .linkhome {
    color: $white;
    border-bottom: 0;
  }

  > .list > .item > .linkhome > .icon {
    font-size: $size-4;
  }

}

/////////////////////////////////////// MEDIA QUERY
@include largephone() {

  .header-menu {
    left: 0;
    right: 0;
    margin: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    position: absolute;
    transition: opacity 0.8s, visibility 1s;

    > .list {
      width: 100%;
      height: 100%;
      padding: unset;
      flex-direction: column;
      justify-content: center;
      background-color: $primary;
    }

    > .list > .item:not(:last-child) {
      margin-right: unset;
      margin-bottom: 0;
    }

    > .list > .item > .link {
      color: $white;
      font-size: $size-4;
    }

    > .list > .item > .link:hover {
      border-bottom: unset;
    }

    // Open Menu
    &.-open {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.8s, visibility 0.5s;
    }

  }

}
