.header-social {
  @include flex();
  margin-right: 0;
  margin-left: auto;

  > .item:not(:last-child) {
    margin-right: 10px;
  }

  > .item > .link > .icon {
    width: 26px;
    height: 26px;
    fill: $white;
  }
}

// MEDIA QUERIES
@include largephone() {
  .header-social {

    > .item > .link > .icon {
      width: 32px;
      height: 32px;
    }
  }
}
