// SECTION BLOCK

.section-block {
  width: 100%;
  overflow: hidden;
  background-color: $white;

  &.-intro {
    padding: 0;
    position: relative;
    height: 400px;
  }

  &.-other {
    padding: 0;
    position: relative;
    height: 400px;
    @include flex();
  }

  &.-location {
    padding: 0;
    position: relative;
    height: 600px;
  }

  &.-footer {
    padding: 0;
    position: relative;
    height: 100px;
    @include flex();
    background-color: $secondary;
  }

}
