// SLIDE SERVICES

// Custom slide properties
.slide-container-countries {
  @extend .swiper-container;
  width: rem(1088);
  padding: 40px;
  border-radius: rem(500);

  .slide-countries {
    @extend .swiper-slide;
    @extend .bg-cover;
    background-color: $white;
    border-radius: 50%;
    height: 306px;
    width: 306px;
    background-image: url('../../images/fiji.jpg');
  }

  .slide-countries.-slide2 {
    background-image: url('../../images/paris.jpg');
    background-position: left !important;
  }

  .slide-countries:hover {
    // padding: rem(20);
  }

  .slide-countries > .country {
    position: absolute;
    @include flex();
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparentize($white, 0.70);
    cursor: pointer;
    border-radius: 50%;
  }

  .slide-countries:first-of-type > .country > .star {
    @include flex();
    position: absolute;
    bottom: -16px;
    width: 50px;
    height: 50px;
    background-color: $primary;
    border-radius: 50%;
    color: $third;
  }

  .slide-countries .country > .title {
    font-family: $nexaBold;
    text-shadow: 1px 1px 1px $gray;
    font-size: $size-4;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: $white;
  }

  .slide-countries:nth-of-type(2) > .country > .title {
    z-index: 1;
  }

  .slide-countries:nth-of-type(2) > .country > .title::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    margin: 25px;
    background-color: transparentize($primary, 0.20);
  }

  // Custom Navigation Arrows
  .slide-prev-countries,
  .slide-next-countries {
    transition: all .5s;
    background: none;
    color: $primary;
    text-shadow: 1px 1px 3px $gray;
    width: auto;
    height: auto;
    font-size: $size-1;
    top: 42%;
  }

  .slide-prev-countries {
    @extend .swiper-button-prev;
    left: -13px;
  }

  .slide-prev-countries:hover {
    opacity: 0.8;
    transform: translateX(-2px);
  }

  .slide-prev-countries:active {
    opacity: 0.2;
  }

  .slide-next-countries {
    @extend .swiper-button-next;
    right: -13px;
  }

  .slide-next-countries:hover {
    opacity: 0.8;
    transform: translateX(2px);
  }

  .slide-next-countries:active {
    opacity: 0.2;
  }

  .slide-prev-countries.swiper-button-disabled,
  .slide-next-countries.swiper-button-disabled {
    opacity: 0.2;
  }

  // // Custom pagination bullets
  // .slide-pagination-countries {
  //   @extend .swiper-pagination;
  // }

  // .slide-pagination-bullet-countries {
  //   @extend .swiper-pagination-bullet;
  //   width: rem(15);
  //   height: rem(15);
  //   opacity: 1;
  //   background: transparentize($secondary, 0.75);
  //   margin-right: 10px;
  //   display: none;
  // }

  // .slide-pagination-bullet-countries:last-of-type {
  //   margin-right: 0;
  // }

  // .slide-pagination-bullet-countries-active {
  //   @extend .swiper-pagination-bullet-active;
  //   color: $black;
  //   background: $black;
  //   width: rem(15);
  //   height: rem(15);
  //   display: none;
  // }

}
//////////////////////////////////  MEDIA QUERIES
@include tablet-only() {

  .slide-container-countries {
    width: rem(800);
    padding: 40px;

    .slide-countries {
      height: 308px;
      width: 308px;
    }

    // .slide-prev-countries {
    //   // left: -16px;
    // }
    // .slide-next-countries {
    //   // right: -16px;
    // }

  }

}

@include largephone-only() {

  .slide-container-countries {
    width: rem(450);
    // padding: 20px 50px;

    .slide-countries {
      height: rem(350);
      width: rem(350);
    }

    .slide-prev-countries {
      left: -5px;
    }
    .slide-next-countries {
      right: -5px;
    }

  }

}

@include mobile(){

  .slide-container-countries {
    width: rem(360);
    // padding: 20px 0;

    .slide-countries {
      height: rem(270);
      // width: rem(240);
      // padding: rem(40);
    }

    // .slide-prev-countries, .slide-next-countries {
    //   display: none;
    //   visibility: hidden;
    // }

  }

}
