@mixin set-search-bar-size($font-size, $icon-size) {
  .showcase {
    .search-bar-container {
      .search-input {
        font-size: $font-size;
        background-size: $icon-size;
      }
    }
  }
}

@mixin no-outline {
  &:hover, &:focus, &:active {
    outline: none;
  }
}

@mixin set-circle($padding) {
  .places {
    .red-circle {
      padding: $padding;
    }
  }
}
