@media screen and (max-width: 767px) {
  footer {
    display: none;
  }
}





@media screen and (min-width: 300px) {
  @include set-search-bar-size(20px, 30px);

  #places-with-col {
    display: none;
  }
  @include set-circle(70px 40px);

  .navbar-custom .nav>li.responsive {
    display: block;
    text-align: center;
  }
}





@media screen and (min-width: 400px) {
  @include set-circle(70px 40px);
}




@media screen and (min-width: 480px) {
  @include set-search-bar-size(25px, 40px);
  @include set-circle(100px 70px);
}


@media screen and (min-width: 768px) {
  @include set-search-bar-size(30px, 40px);

  .menu-collapse {
    display: none !important;
  }

  .navbar-custom .nav>li.responsive {
    display: inline-block;
  }
}


@media screen and (min-width: 992px) {
  #places-with-col {
    display: block;
  }
  #places-with-swiper {
    display: none;
  }

  .places .top {
    top: 38%;
  }

  @include set-circle(80px 50px);
}

@media screen and (min-width: 1200px) {
  @include set-circle(100px 70px);
  .places .top {
    top: 40%;
  }
}
