.showcase {
  margin-top: 40px;
  background-position: 70% 100%;
  // background-repeat: no-repeat;
  background-image: url(../../images/bg-search.jpg);
  background-size: cover;
  height: auto;
  text-align: center;
  position: relative;
}
