// Import Bulma's variables

@import "../../bower_components/bulma/sass/utilities/initial-variables";
@import "../../bower_components/bulma/sass/utilities/functions";

// COLORS

// Bulma's Colors

// $black:        hsl(0, 0%, 4%);
// $black-bis:    hsl(0, 0%, 7%);
// $black-ter:    hsl(0, 0%, 14%);

// $grey-darker:  hsl(0, 0%, 21%);
// $grey-dark:    hsl(0, 0%, 29%);
// $grey:         hsl(0, 0%, 48%);
// $grey-light:   hsl(0, 0%, 71%);
// $grey-lighter: hsl(0, 0%, 86%);

// $white-ter:    hsl(0, 0%, 96%);
// $white-bis:    hsl(0, 0%, 98%);
// $white:        hsl(0, 0%, 100%);

// $orange:       hsl(14,  100%, 53%);
// $yellow:       hsl(48,  100%, 67%);
// $green:        hsl(141, 71%,  48%);
// $turquoise:    hsl(171, 100%, 41%);
// $cyan:         hsl(204, 86%,  53%);
// $blue:         hsl(217, 71%,  53%);
// $purple:       hsl(271, 100%, 71%);
// $red:          hsl(348, 100%, 61%);

// Default Colors
$white:        #ffffff;
$lightgray:    #f9f9f9;
$gray:         #797979;
$lightblack:   #222222;
$black:        #000000;

// Project Colors
$primary:      #f60278;
$secondary:    #e6055d;
$third:        #fffc00;

// Status Colors
$success:      #8bc34a;
$danger:       #f44336;
$warning:      #ffc107;
$info:         #03a9f4;

// Social Colors
$facebook:     #39579b;
$twitter:      #588dc9;
$youtube:      #bb0000;
$google:       #dd4b39;
$whatsapp:     #4dc247;
$instagram:    #ffffff;
$linkedin:     #0079b8;
