// ICONS

// Project icons
$icons: (
    facebook:     'a',
    twitter:      'b',
    instagram:    'c',
    linkedin:     'd',
    whatsapp:     'e',
    location:     'f',
    chat:         'g',
    mail:         'h',
    home:         'i',
    share:        'j',

);
