// ICONS

// Project icons
$icons: (
    facebook:     'a',
    twitter:      'b',
    instagram:    'c',
    linkedin:     'd',
    whatsapp:     'e',
    leftarrow:    'f',
    rightarrow:   'g',
    chartbar:     'h',
    star:         'i',
    dollar:       'j',
    paperplane:   'k',
    globe:        'l',
    location:     'm',
    chat:         'n',
    mail:         'o',
    phone:        'p',
    clock:        'q',
    code:         'r',
    downarrow:    's',
    uparrow:      't',
    home:         'u',
    doctext:      'v',
    pencil:       'w',
    quote:        'x',
    megaphone:    'y',
    diamond:      'z',
    celphone:     'A',
    award:        'B',
    add:          'C',
    tools:        'D',
    picture:      'E',
    heart:        'F',
    heartempty:   'G',
    quoteleft:    'H',
    quoteright:   'I',
    share:       'J',

);
